.post-content 
    div
        width: 100%
    pre 
        overflow-x: scroll


@media (max-width: 500px)
    .post-content 
        div
            width: 109%
        pre
            border-radius: 0
            padding: 10px
            margin: 0.5em 0 1.5em 0
